extends ../layout
block content
  section#articles
    - var visibleArticles = articles.slice(0, 3);
    - each article in visibleArticles
        article.post
          header
            h3 
              a(href=article.url) #{article.url}#{article.title}
            span.date #{article.date}
          section.content!=article.content
          div.more 
            a(href=article.url) read on
